.contributeContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 10vh 10vw;
  gap: 5vh;
  height: 100%;
  color: white;
  background-image: url('../../assets/images/red-design.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contributeHead {
  font-size: 5rem;
}
.contributeBody {
  font-size: 3rem;
}
