* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
  width: 100vw;

}
#left-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url("./assets/images/blue-design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 1.3vh 1.2vw;
  flex-shrink: 0;
}
#about {
  font-size: 3.5vw;
  margin-bottom: 1vh;
}
#me {
  font-size: 2.5vw;
  line-height: 1.5;
}
#right-bar {
  display: grid;
  grid-template-rows: 15% 1fr 10%;
  height: 100%;
  min-width: 300px;
  flex-shrink: 1;
}
#header {
  display: flex;
  flex-direction: row;
  padding: 3.5vw;
  background-image: url("./assets/images/yellow-design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: flex-end;
}
button{
    font-size: 1.5vw;
    border-radius: 0.2rem;
    padding: 0.3vw 0.6vw;
    white-space: nowrap;
    min-width: 10vw;
}
#nav{
    gap: 10vw;
}
#footer{
 display: flex;
 align-items: center;
 justify-content: center;
 background-image: url("./assets/images/sea-view.jpg");
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
 text-align: center;
 color: white;
}
#f-content{
 align-items: center;
 text-align: center;
 white-space: nowrap;
 font-size: 1.3rem;
}