* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
}
#body {
  display: grid;
  grid-template-columns: 20vw 1fr;
  min-height: 100vh;
  margin: 0;
  align-items: start;
}
#left-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url("./assets/images/blue-design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 1.3vh 1vw;
  flex-shrink: 0;
  min-height: 100%;
  box-sizing: border-box;
  background-attachment: fixed;
  height: auto;
  align-self: stretch;
  user-select: none;         
  -webkit-user-select: none; 
  -moz-user-select: none;   
  -ms-user-select: none;  
}
#about {
  font-size: 2.5vw;
  font-weight: 700;
  letter-spacing: 0.5px;
}
#me {
  font-size: 1.5vw;
  line-height: 1.5;
  text-align: justify;
}
#right-bar {
  display: grid;
  grid-template-rows: 15% 1fr 10%;
  height: 100%;
  min-width: 300px;
  flex-shrink: 1;
}
#header {
  display: flex;
  flex-direction: row;
  padding: 3.5vw;
  background-image: url("./assets/images/yellow-design.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  gap: 0.5vw;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: flex-end;
  height: auto;
}
button {
  border: 1px solid black;
  font-size: 1.5vw;
  border-radius: 0.7vw;
  padding: 0.3vw 0.6vw;
  white-space: nowrap;
  min-width: 10vw;
  cursor: pointer;
  user-select: none;         
  -webkit-user-select: none; 
  -moz-user-select: none;   
  -ms-user-select: none;  
}
#nav {
  gap: 10vw;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./assets/images/sea-view.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
  flex-shrink: 0;
  flex-wrap: nowrap;
  margin: 0;
  padding: 4vh 0vw;
  height: auto;
}
#f-content {
  align-items: center;
  text-align: center;
  white-space: nowrap;
  font-size: 2vw;
  user-select: none;         
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;  
}
#f-content:hover{
  color: red;
  font-size: 2.3vw;
  transition: 0.2s;
}
button:hover {
  transform: translateY(-4px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
  color: #ffffff;
  background-color: #2c3e50;
}
#icon {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}
#aboutIcon {
  filter: invert(1);
  max-width: 2vw;
  max-height: 2vh;
  user-select: none;         
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;  
}
